@import '../../../assets/styles/vars'
@import '../../../assets/styles/base'

.scheduling-profile
  height 448px
  width 322px
  background-color #f5f5f5
  margin 8px

.scheduling-profile-back-image
  background url('src/assets/images/mock/group-8.png')
  background-repeat no-repeat
  background-size cover
  height 130px
  
.scheduling-profile-header
  border-bottom 1px solid $dustColor
  margin-right 17px

.scheduling-profile-dd,
  .scheduling-profile-mm
    font-size 31px
  
.scheduling-profile-dd
  background-color $dustColor
  padding 15px
  
.scheduling-profile-mm
  margin-left 15px
  flex-basis 53%
  
.scheduling-profile-vertical-hr
  height 40px
  width 1px
  background-color #b2b2b2
  margin 0px 7px
  
.scheduling-profile-hrs
  font-size 18px
  margin-bottom -7px
  
.margin-top-20px
  margin-top 20px
  
.scheduling-profile-img
  width 37px
  margin-right 5px
  
.scheduling-profile-data,
  .scheduling-description
    font-size 14px

.scheduling-profile-phone
  font-size 16px
  
.scheduling-profile-description-title
  font-size 13px
  
.scheduling-description
  padding 0px 39px
  
.separator-gold
  border solid 1px #b09c6c
  margin 20px 21px
  
.margin-top-8px
  margin 8px 0px 0px 0px
  
.margin-bottom-14px
  margin-bottom 14px
  
@media screen and (max-width: 975px)
  .scheduling-profile
    margin 8px 0px
    width 100%