@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.my-flash
  position relative
  background-color #b09c6c
  width 222px
  height 353px
  margin 8px
  
.my-flash-flex-row
  display flex
  flex 1
  flex-direction row
  
.my-flash__vertical-center
  align-items center
  margin-top 7px
  
.my-flash__options
  background-color #b09c6c
  display flex
  flex 1
  flex-direction row
  position absolute
  top 0px
  right 0px
  padding 5px
  
.my-flash__options-icon
  color #fff
  
.my-flash__img
  background-image url("src/assets/images/mock/group-copy-4.png");
  background-size cover
  background-repeat no-repeat
  background-position center center
  height 223px
  
.my-flash-mar-rgt
  margin-right 7px
  
.my-flash__block-info
  margin 10px 0px 0px 10px
  
.my-flash__space-block
  padding-left 10px
  
.my-flash__title
  color: #fff
  font-family 'Lato'
  font-size 17px
  font-weight $regular
  margin 0px
  padding 3px 0px
  
.my-flash__location
  color #fff
  font-family 'Lato'
  font-size 13px
  font-weight $regular
  margin 0px
 
.my-flash__icon-heart
  background-color #b09c6c
  color #fff
  border none
  font-size 11.4px
  margin-left 30px
  
.my-flash__likes
  font-family 'Lato'
  font-weight $regular
  font-size 9px
  margin-left 5px
  
.my-flash__block-star
  margin -4px 0px 0px 0px
  
.my-flash__star
  color #262626
  font-size 8px
  
.my-flash__icons
  color #262626
  font-size 17px
  margin-right 6px
  
.my-flash__price
  margin 0px
  color #fff
  font-size 14px
  font-family 'Lato'
  font-weight $regular
  
.my-flash__measure
  margin 0px
  color #fff
  font-size 13px
  font-family 'Lato'
  font-weight $regular
  
@media screen and (max-width: 975px)    
  .my-flash
    height 457px
    margin 7.1px 0px
    
  .my-flash__options-icon
    font-size 20.3px
    padding 8px
    
  .my-flash__img
    background-image url("src/assets/images/mock/group-copy-4.png");
    background-size cover
    background-repeat no-repeat
    background-position center center
    height 280px
    
  .my-flash__block-info
    margin 19px 0px 0px 21.5px
    
  .my-flash__block-img
    width 38px
    
  .my-flash__space-block
    padding-left 12.5px

  .my-flash__title
    font-size 18px
    
  .my-flash__location
    font-size 16px
    
  .my-flash__block-star
    margin 3px 0px 29px 0px
    
  .my-flash__star
    font-size 9px
    
  .my-flash__tag-style
    height 26.5px
    margin 25.9px 2.6px 3px 2.6px
    
  .my-flash__tag-txt
    font-size 10px
    
  .my-flash__icon-heart
    font-size 16.8px
    margin-left 60px
    
  .my-flash__likes
    font-size 10px
    
  .my-flash
    width: 100%
    
  .my-flash__icons
    font-size 20px
    
  .my-flash__price
    font-size 15px
    
  .my-flash__measure
    font-size 14px