@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.quotation-step-5__icon-main
  margin-top 61px
  margin-bottom 32px
  width 38px

.quotation-step-5__inputs-section
  margin-top 10px
  margin-bottom 36px
  width 406px
  center-block()

.quotation-step-5__input-row
  display flex
  margin-top 96px
  align-items center
  justify-content space-between
  width 100%

.quotation-step-5__input-icon
  flex-basis 34px

.quotation-step-5__input
  background transparent
  font-family 'Lato'
  font-size 17px
  color #b8b8b8
  padding 0 7px 6px 7px
  flex-basis 346px
  border none
  simple-border('bottom', 2px, #979797)