@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

/** LOGIN **/
.login
  display flex
  flex-direction column
  align-items center
  padding 61px 0 173px 0

  &__item
    &:nth-child(2), &:nth-child(4)
      width 80%

    &:nth-child(2)
      @media screen and (min-width 32em)
        width: 25%

    &:nth-child(4)
      @media screen and (min-width 32em)
        width: 50%

.login__divider
  margin-top 41px
  margin-bottom 49px
  max-width 508px

.login__social
  margin-top 49px

  &-button
    display flex
    align-items center
    cursor pointer
    text-align left
    padding 18px
    border-width 1px
    border-style solid
    width 267px
    font-size 16px
    font-family inherit
    letter-spacing -0.2px
    center-block()

    &--facebook
      @extends .login__social-button
      background-color $facebookColor
      color #FFF
      border-color $facebookColor

    &--google
      @extends .login__social-button
      margin-top 17px
      background-color #FFF
      color $blackColor
      border-color $borderColor

.login__title
  line-height 1.6
  letter-spacing -0.1px
  rfont-size 30px 767px 27px
  margin 0
  font-weight 400

.login__social-icon
  &--facebook
    width 11px
    margin-right 18px

  &--google
    width 16px
    margin-right 14px

.login__form
  max-width 508px
  width 83%
  center-block()

.login__input
  &-label
    font-size 16px
    letter-spacing -0.2px
    text-align right
    flex-basis 135px

  &-email, &-password
    padding 14px 20px
    flex-basis 345px

  &-group
    display flex
    align-items center
    justify-content space-between

    &:nth-child(n+2)
      margin-top 20px

  &-label-checkbox
    margin-left 1rem
    font-size: 1.2em

    @media screen and (min-width 32em)
      font-size: 1rem

  &-submit
    padding 0.5rem 1rem
    color: #fff
    background-color: $dustColor
    border-radius 2px
    border none
    font-size: 1.2rem
    text-transform: uppercase

    @media screen and (min-width 32em)
      font-size: 1rem

.login__signup
  margin: 1rem 0
  text-align: center
  font-size: 1.2rem

  @media screen and (min-width 32em)
    font-size: 1rem

  &-link
    @extends .login__signup
    padding: 0.25em
    text-transform: uppercase
    border-bottom 1px solid $dustColor
    margin 0 0 0 0.5em

.login__logo
  align-self flex-end
  margin: 0.5em

.login__forgotten
  color inherit
  margin-top 21px
  margin-left 163px
  text-decoration none
  display inline-block
  padding-bottom 4px
  simple-border('bottom', 1px, #262626)