@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.tatuate-wrapper
  background-image url('/src/assets/images/backgrounds/gettattoo.jpg')
  padding-top 71px
  padding-bottom 90px
  color white

.tatuate__hr
  width 889px

.tatuate__title
  margin 0 0 64px 0
  text-align center
  rfont-size 35px 767px 29px
  font-weight $regular

