@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'
@import '../../assets/styles/galleries'
@import '../../assets/styles/tattoos'

.tattoos-grid-container
  padding-bottom 81px

.tattoos-grid-loader
  width 60px
  margin-top 50px

.tattoos-grid-icon
  width 55px
  margin-top 50px

@media screen and (max-width: 855px)
  .tattoos-grid-container
    padding-top 30px

@media screen and (max-width: 767px)
  .gallery-title
    margin-top 43px

  .gallery-subtitle
    margin-top 12px

@media screen and (max-width: 500px)
  .tattoos-grid-container
    padding-top 20px
    padding-bottom 50px