@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.quotation-container
  position relative

  &.step-1
    background-image url('/src/assets/images/backgrounds/quotation-step-1.jpg')

.quotation-progress
  background #cacaca
  height 12px
  position absolute
  top 0
  left 0
  width 100%

.quotation-progress__inner
  background $dustColor
  height 100%
  transition width 0.3s
  width 0

.quotation-content
  padding-top 74px
  padding-bottom 104px

.quotation-title
  font-family 'Lato'
  font-weight $normal
  font-size 40px
  letter-spacing -0.3px
  color white
  margin 0
  text-align center