@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.quotation-container
  background-color $blackColor
  position relative

  &.step-1
    background-image url('/src/assets/images/backgrounds/quotation-step-1.jpg')

  &.step-2
    background-image url('/src/assets/images/backgrounds/quotation-step-2.jpg')

.quotation-progress
  background #cacaca
  height 12px
  position absolute
  top 0
  left 0
  width 100%

.quotation-progress__inner
  background $dustColor
  height 100%
  transition width 0.3s
  width 0

.quotation-content
  padding-top 74px
  padding-bottom 104px
  text-align center

.quotation-title
  font-family 'Lato'
  font-weight $normal
  font-size 40px
  letter-spacing -0.3px
  color white
  margin 0

.quotation-instructions
  color white
  margin 0
  font-weight $normal
  font-size 24px

.range-slider
  width 286px
  center-block()

.fa-info
  display inline-block
  vertical-align top
  margin-top 6px
  padding-top 4px
  background $dustColor
  width 16px
  height 16px
  border-radius 50%
  color $blackColor
  font-size 7px

  &.at-left
    margin-right 12px

.quotation-instructions--step-1-main
  margin-top 10px

.quotation-instructions--step-1-sub
  width 280px
  center-block()

.quotation-instructions--step-1-height
  margin-bottom 65px
  margin-top 74px

.quotation-instructions--step-1-width
  margin-bottom 73px
  margin-top 57px

.quotation-step-1-icon
  width 44px
  margin-top 51px
  margin-bottom 36px

.quotation-footer
  text-align center
  clear both
  max-width 864px
  width 88%
  center-block()
  padding-bottom 61px
  overflow auto

  .site-button
    font-size 13px
    padding 16px 30px
    letter-spacing: 0.5px

.quotation-next
  float right

.quotation-back
  float left

@media screen and (max-width: 767px)
  .quotation-progress
    height 11.4px

  .quotation-content
    padding-bottom 88px

  .range-slider
    width 50%
    min-width 190px

  .fa-info
    &.at-left
      margin-right 9px

  .quotation-instructions--step-1-main
    margin-top 17px
    width auto
    center-block()
    max-width 205px

  .quotation-instructions--step-1-sub
    font-size 20px
    width 230px

  .quotation-instructions--step-1-height
    margin-top 54px
    margin-bottom 40px

  .quotation-instructions--step-1-width
    margin-top 36px
    margin-bottom 41  px

  .quotation-step-1-icon
    margin-top 38px
    margin-bottom 36px

  .quotation-back + .quotation-next
    float right

  .quotation-next
    float none