@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.range-slider
  width 286px
  center-block()

.quotation-instructions--step-1-main
  margin-top 10px

.quotation-instructions--step-1-sub
  width 280px
  center-block()

.quotation-instructions--step-1-height
  margin-bottom 65px
  margin-top 74px

.quotation-instructions--step-1-width
  margin-bottom 73px
  margin-top 57px

.quotation-step-1-icon
  width 44px
  margin-top 51px
  margin-bottom 36px

@media screen and (max-width: 767px)
  .range-slider
    width 50%
    min-width 190px

  .quotation-instructions--step-1-main
    margin-top 17px
    width auto
    center-block()
    max-width 205px

  .quotation-instructions--step-1-sub
    font-size 20px
    width 230px

  .quotation-instructions--step-1-height
    margin-top 54px
    margin-bottom 40px

  .quotation-instructions--step-1-width
    margin-top 36px
    margin-bottom 41  px

  .quotation-step-1-icon
    margin-top 38px
    margin-bottom 36px