@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.quotation-step-2__items
  display flex
  justify-content space-between
  flex-wrap wrap
  width 732px
  margin-top 55px
  margin-bottom 10px
  center-block()

.quotation-step-2__item
  cursor pointer
  flex-basis 235px
  margin-top 27px

.quotation-step-2__item-image
  height 235px

.quotation-step-2__item-text
  display block
  color white
  margin-top 22px
  font-size 24px