@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'
@import '../../../assets/styles/base'

.flex-row
  display flex
  flex 1
  flex-direction row
  
.hide-desktop
  display none
  
.hide-mobile
  display none

.separator
  width 85%
  margin-bottom 70px

.menu-page-content
  display flex
  width 100%
  align-items center
  flex-direction column
  margin-bottom 159px
  min-height 700px

.menu-page-title
  color: #1d1c1c
  font-family 'Lato'
  font-weight $regular
  margin 68px 0px 50.6px 0px
  
.menu-page-description
  color: #b09c6c
  
.menu-page-tattoo
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center

.new-flash
  display flex
  justify-content center
  align-items center
  width 222px
  height 353px
  background-color #1d1c1c
  margin 8px 8px 0px 8px

.new-tattoo--mobile
  display none
  
.new-tattoo-artist
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-color #1d1c1c
  width 234px
  height 241px
  margin 8px
  
.new-tattoo-artist--txt
  color #9b9b9b
  font-family 'Lato'
  font-size 14px
  font-weight $regular
  
.new-tattoo-artist--highlight
  color #b09c6c
  
.mar-right-10
  margin-right 10px
  
@media screen and (max-width: 975px)
  .flex-row
    display flex
    flex 1
    flex-direction column
    
  .menu-page-content
    margin-bottom 63px
    min-height 700px
    
  .separator
    margin 35px 0px
    
  .new-tattoo-artist--mobile
    display flex
    flex-direction row
    justify-content center
    align-items center
    background-color #b09c6c
    border-radius 2px
    border none
    height 48px
    text-transform uppercase
    color #fff
    font-family 'Lato'
    font-size 13px
    font-weight $regular
    margin-bottom 27px
    
  .menu-page-tattoo
    align-items center
    flex-direction column
    width: 100%
    
  .menu-page-title
    margin-bottom 0px
    margin-top 35px
    
  .new-tattoo--mobile
    display flex
    flex-direction row
    justify-content center
    align-items center
    background-color #b09c6c
    cursor pointer
    margin 0px 32px 48px 32px
    border-radius 2px
    border none
    height 47.9px
    
  .new-tattoo--mobile__icon
    color: #fff
    font-size 20px
    margin-right 12px
    
  .new-tattoo--mobile__txt
    color #fff
    font-family 'Lato'
    font-size 13px
    font-weight $regular
    text-transform uppercase
