@import '../../../assets/styles/vars'
@import '../../../assets/styles/base'

.justify-between
  justify-content space-between

.buy-flash
  background-color #b09c6c
  width 269px
  height 438px
  margin 8px

.buy-flash-bg-img
  background-image url("src/assets/images/mock/group-copy-4.png");
  background-size cover
  background-repeat no-repeat
  background-position center center
  height 275px
  padding 28px 20px

.width-59px
  width 59px

.by-flash-block-info
  padding 17px 15px

.buy-flash-profile-img
  width 36px

.buy-flash-text-block
  padding-left 10px

.buy-flash-name
  font-size 17px

.buy-flash-icon-heart
  font-size 13px

.buy-flash-likes
  font-size 12px
  margin-left 5px

.buy-flash-location
  font-size 13px

.my-flash-block-star
  line-height 0px

.buy-flash-icon-star
  color #262626
  font-size 8px
  
.buy-flash-icon-price
  height 20px
  width 20px
  margin-right 6px

.buy-flash-price
  font-size 14px

.margin-vertical-7px-10px
  margin 7px 0px 10px 0px

.margin-vertical-14px-12px
  margin 14px 0px 12px 0px