@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.dropdown-modal--wrapper
  transition visibility 0.2s

  &.visible
    visibility visible

    .dropdown-modal--layer
      opacity 1

    .dropdown-modal
      transform scale(1)

  &.hidden
    visibility hidden

    .dropdown-modal--layer
      opacity 0

    .dropdown-modal
      transform scale(0)

.dropdown-modal--layer
  background rgba(white, 0.56)
  position fixed
  top 0
  left 0
  height 100vh
  width 100vw
  z-index 30
  transition opacity 0.2s

.dropdown-modal
  background white
  color #a3a3a3
  height auto
  position fixed
  z-index 31
  transition transform 0.2s

.dropdown-type-tags
  padding 11.5px 20px
  column-count 3
  max-height 198px
  width 320px

  .dropdown-modal__item
    border-radius 62px
    font-size 17px
    padding 0.3em 0.6em
    display inline-block
    min-width 80px
    margin 12.5px 0

.dropdown-type-list
  width 194px
  max-height 234px
  text-align left

  .dropdown-modal__item
    padding 1em unit(22/16, 'em')
    font-size 16px

.dropdown-modal__item
  cursor pointer
  background transparent
  letter-spacing -0.3px
  text-align center

  &.active, &:hover
    background $dustColor
    color white