@import '../../assets/styles/vars'
@import '../../assets/styles/base'

.margin-vertical-30px
  margin 30px 0px

.separator
  width 85%

.margin-vertical-47px-86px
  margin 47px 0px 86px 0px

@media screen and (max-width 975px)
  .separator
	  margin 35px 0px

  .margin-horizontal-25px-mobile
    margin 0px 25px !important