@import '../../assets/styles/vars'

.title
  text-align: center

.tatuate
  padding-top 3em
  background-image url('src/assets/images/backgrounds/tatuate.png')
  background-repeat no-repeat
  background-position: center
  background-size cover

  &__title
    color #FFF
    font-weight 400
    margin 0 0 1em 0

  &__divider
    height 1px
    width 80%

    border none
    border-bottom 1px solid $dustColor

    position relative

    &:after,
    &:before
      content: ' '
      display block
      position absolute
      top 50%

      background-color $dustColor
      border 1px solid $dustColor
      border-radius 50%

      height 5px
      width 5px

      transform translateY(-50%)

    &:after
      left 0

    &:before
      right 0

.steps
  margin-top 3rem
  margin-bottom 5rem

  padding 0.5em

  display grid
  grid-template-columns 1fr 1fr
  grid-template-rows 1fr 1fr


  @media screen and (min-width 32rem)
    display grid
    grid-template-columns repeat(4, 1fr)
    grid-template-rows  1fr

  &__item

    &:first-child
      grid-column 1 / 2
      grid-row 1 / 2

      @media screen and (min-width 32rem)
        grid-column 1 / 2
        grid-row 1 / 2


    &:nth-child(2)
      grid-column 2 / 3
      grid-row 1 / 2

      @media screen and (min-width 32rem)
        grid-column 2 / 3
        grid-row 1 / 2

    &:nth-child(3)
      grid-column 1 / 2
      grid-row 2 / 3

      @media screen and (min-width 32rem)
        grid-column 3 / 4
        grid-row 1 / 2

    &:last-child
      grid-column 2 / 3
      grid-row 2 / 3

      @media screen and (min-width 32rem)
        grid-column 4 / 5
        grid-row 1 / 2

.step
  text-align: center

  &__item
    margin 3em 0
    text-align: center

  &__number
    font-size 1.2em

    height 4rem
    width 4rem
    margin 0 auto

    border-radius 50%

    background-color $dustColor
    color #fff

    display flex
    align-items center
    justify-content center

  &__title
    font-size 2.2rem
    color #fff
    text-transform uppercase
    font-family: 'BebasNeue';

  &__link
    display inline-block
    padding: 1em 1em

    text-transform: uppercase

    border-radius 2px
    width:  125px
    background-color: $dustColor
    color #FFF

    @media screen and (min-width 32rem)
      width: 175px

  &__icon
    width 125px
    height: 125px
    margin 2em auto

    border 2px solid $dustColor

    display flex
    align-items center
    justify-content center

    position relative

    background-color: rbga(0,0,0,0.5)
    background-repeat no-repeat
    background-position center
    background-size cover

    @media screen and (min-width 32rem)
      width: 175px
      height: 175px

    &--1
      @extends .step__icon
      background-image url('src/assets/images/backgrounds/tatuate__inspirate@2x.png')

      @media screen and (min-width 32rem)
        background-image url('src/assets/images/backgrounds/tatuate__inspirate@3x.png')

    &--2
      @extends .step__icon
      background-image url('src/assets/images/backgrounds/tatuate__cotiza@2x.png')

      @media screen and (min-width 32rem)
        background-image url('src/assets/images/backgrounds/tatuate__cotiza@3x.png')

    &--3
      @extends .step__icon
      background-image url('src/assets/images/backgrounds/tatuate__flashes@2x.png')

      @media screen and (min-width 32rem)
        background-image url('src/assets/images/backgrounds/tatuate__flashes@3x.png')


    &--4
      @extends .step__icon
      background-image url('src/assets/images/backgrounds/tatuate__agenda@2x.png')

      @media screen and (min-width 32rem)
        background-image url('src/assets/images/backgrounds/tatuate__agenda@3x.png')

.about
  padding: 2em 0 3em 0
  background-color: #FFF

  @media screen and (min-width 32rem)
    text-align:  center

  &__title,
  &__subtitle
    @extends .tatuate__title
    color: $blackColor

    @media screen and (min-width 32rem)
      display inline
      width: 50%

  &__item
    @media screen and (min-width: 32em)
      margin: 6em 0

  &__subtitle
    text-align: center

  &__link
    font-size: 1.2em
    color $blackColor
    padding: 0.2em

    border-bottom 2px solid $dustColor
    text-transform: uppercase

    @media screen and (min-width 32rem)
      margin-left: 1em


.number

  &--mobile
    @media screen and (min-width: 52rem)
      display none

  &--desktop
    display none
    position absolute
    top 0
    left 0
    transform translate(-50%,-50%)
    @media screen and (min-width: 52rem)
      display flex
