@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'
@import '../../assets/styles/base'

.content-row
  display flex
  flex-direction row
  
.content-column
  display flex
  flex-direction column
  
.content-wrap
  display flex
  flex-wrap wrap
  justify-content center
  
.content-justify
  display flex
  justify-content center
  
.wdt-53
  width 53%
  
.hor-align
  display flex
  align-items center
  
.mar-right-27
  margin-right 27px
  
.mar-ver-60-64
  margin 60px 0px 64px 0px
  
.mar-hor-18
  margin 18px 0px
  
.mar-hor-16
  margin 0px 16px
  
.mar-hor-7
  margin 0px 7.5px
  
.mar-bott-62
  margin-bottom 62px
  
.mar-bott-27
  margin-bottom 27px
  
.mar-lf-negative
  margin-left -90px
  
.pdd-bott-68
  padding-bottom 68px
  
.bgc-262626
  background-color #262626
  
.separator
  height 1.8px
  width 85%
  margin 40px 0px 20px 0px
  opacity 0.6
  
.profile__btn
  display flex
  flex-direction row
  justify-content center
  align-items center
  background-color #b09c6c
  cursor pointer
  border-radius 2px
  border none
  height 47.9px
  padding 0px 28px
  font-family 'Lato'
  font-weight $regular
  font-size 13px
  color #fff
  text-transform uppercase
  
.profile__title-black
  font-size 29px
  color #1d1c1c
  font-family 'Lato'
  font-weight $regular
  
.profile__title-white
  font-size 29px
  color #fff
  font-family 'Lato'
  font-weight $regular
  
.profile-background-flash
  background url("src/assets/images/backgrounds/gettattoo.jpg")
  width 100%
  display flex
  align-items center
  flex-direction column
  
.background-profile
  background url("src/assets/images/backgrounds/gettattoo.jpg")
  height 408px
  background-size cover
  background-repeat no-repeat
  background-position center center
  width 100%
  display flex
  align-items center
  flex-direction column
  justify-content center
  align-self flex-start
  
.profile__input
  width: 394px;
  height: 40.4px;
  border: solid 1px #d2d2d2;
  margin-left 29px
  margin-right 29px
  
.profile__p
  color #fff
  margin -30px 0px 55px 0px
  font-size 16px
  
.profile__p-span
  color #b19d69
  
.profile__tag
  width 111px
  height 34px
  background-color #bec3c6
  border-radius: 70px
  margin 10px 6px
  display flex
  align-items center
  justify-content center
  
.profile__wall
  position relative
  width 484px
  height 92px
  
.profile__txtarea
  width 484px
  height 92px
  padding 10px 0px 38px 10px
  border solid 1px #d9d9d9
  
.profile__btn-publish
  position absolute
  width: 87.6px;
  height: 28.6px;
  border-radius: 2px;
  border none
  background-color: #b5a274;
  right 15px
  bottom 8px
  color #fff
  font-family 'Lato'
  font-size 9px
  font-weight $regular
  
.profile__post
  width 484px
  
.profile__post-img
  margin-right 23px
  
.profile__post-user
  color #1d1c1c
  font-family 'Lato'
  font-size 23px
  font-weight $regular
  margin 0px
  
.profile__post-date
  color #bdbdbd
  font-family 'Lato'
  font-size 13px
  font-weight $regular
  margin 0px
  
.profile__post-txt
  color #898989
  font-family 'Lato'
  font-size 12px
  font-weight $regular
  margin-top 23px
  
.profile__hr
  border solid 1px #e5e5e5
  width 484px
  margin 32px 0px
  
.profile__info-1
  position relative
  width 599px
  height 112px
  
.profile__info-2
  position relative
  width 599px
  height 78px
  
.profile__info-3
  position relative
  width 599px
  height 45px
  
.profile__info-4
  position relative
  width 210px
  height 45px
  
.profile__info-icons
  position absolute
  right 12px
  bottom 12px
  
.profile_info-i
  color #cfcfcf
  font-size 15px
  
.profile__info
  color #c8c8c8
  background-color transparent
  border solid 1px #fff
  font-family 'Lato'
  font-size 13px
  font-weight $regular
  height 45px
  padding-left 17px
  
.height-112
  height 112px !important
  padding 17px 17px 41px 17px
  
.height-78
  height 78px !important
  padding 17px 17px 39px 17px
  
.profile__info-lg
  width 599px
  
.profile__info-sm
  width 210px
  
.profile__content-save
  display flex
  justify-content flex-end
  margin-right 17%
  margin-top 60px
  
.profile__save
  background-color #454545 !important
  margin-bottom 71px
  
.vertical-separator
  width 1px
  height 112px
  background-color #b09c6c
  margin 0px 61px

.menu-page-title
  color: #fff
  font-family 'Lato'
  font-size 29px
  font-weight $regular
  margin 10px 0px 45px 0px
  
.menu-page-description
  color: #b09c6c;

.hide-desktop
  display none
  
.new-tattoo--mobile__icon
    color: #fff
    margin-right 12px
    width 20px
    
.tooltip
  position relative
  display inline-block
  .tooltiptext
    display flex
    align-items center
    justify-content center
    visibility hidden
    width 189px
    height 40px
    background-color #a59366
    color #fff
    font-size 11px
    font-family 'Lato'
    font-weight $regular
    position absolute
    z-index 1
    bottom 36px
    left -141px
    &::after
      content ""
      position absolute
      top 100%
      left 78%
      margin-left -5px
      border-width 5px
      border-style solid
      border-color #a59366 transparent transparent transparent
  &:hover
    .tooltiptext
        visibility visible
        
::-webkit-input-placeholder { /* Safari y Chrome */
   color #9b9b9b
   font-family 'Lato'
   font-size 13px
   font-weight $regular
}
 
:-moz-placeholder { /* Firefox hasta v18 */
   color #9b9b9b
   font-family 'Lato'
   font-size 13px
   font-weight $regular 
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color #9b9b9b
   font-family 'Lato'
   font-size 13px
   font-weight $regular
}
 
:-ms-input-placeholder {  /* IE 10+´*/
   color #9b9b9b
   font-family 'Lato'
   font-size 13px
   font-weight $regular
}

.profile_img-11
    width 11px
    
.profile_img-26
    width 26px
  
@media screen and (max-width: 975px)
  .content-column--mobile
    display flex
    flex-direction column
    
  .content-wrap--mobile
    flex-wrap nowrap
    
  .background-profile
    height 492px
    
  .menu-page-title
    font-size 23px
    
  .flash-opt__block
    display none
    
  .hide-mobile
    display none
    
  .wdt-53--mobile
    width none

  .new-flash
    display none
    
  .vertical-separator
    display none
  
  .separator--mobile
    display block
    margin 57px 0px 37px 0px
    
  .pdd-hor-24
    padding 0px 24px
    
  .profile__btn-publish
    right 34px
    width 51px
    height 22px
    font-size 7px
    
  .profile__input
    width 100%
    margin-left 9px
    margin-right 9px
    
  .profile__info-icons
    right 35px
    bottom 8px
    
  .pencil
    right 40px
    bottom 15px

  .mar-bott-13
    margin-bottom 13px
    
  .mar-hor-7
    margin 0px 6.2px
    
  .height-78
    padding 14px
    
  .height-112
    padding 14px 14px 24px 14px
    font-size 11px
    
  .profile__post
    width 100%
    padding-left 24px
    padding-right 24px
    
  .profile__post-date
    font-size 11px
    
  .profile__post-txt
    font-size 11px

  .wdt-100
    width: 100%

  .profile__block-hr
    width 100%
    padding 0px 24px
    
  .profile__hr
    width 100%
    
  .profile__info-1,
    .profile__info-2,
      .profile__info-3,
        .profile__info-4
          width 100%
          padding-left 24px
          padding-right 24px
          
  .profile__info-lg
    width 100%
    
  .profile__wall
    width 100%
    padding 0px 24px

  .profile__txtarea
    width 100%
    font-size 8px
    
  .profile__btn
    height 35px
    padding 0px 14px
    font-size 12px
    
  .font-23
    font-size 23px
    
  .mar-lf-negative
    margin-left 0px
    
  .profile__content-save
    margin-right 0%
    justify-content center
    margin-top 0px

  .profile__save
    height 47px
    width 188px
    
  .profile_img-11
    width 11px
    
  .profile_img-26
    width 26px
      
  .menu-page-tattoo
    flex-direction column
    
  .mar-right-27
    margin-right 9px
    
  .new-tattoo--mobile__icon
    color: #fff
    margin-right 12px
    width 15px
    
  .new-tattoo--mobile__txt
    color #fff
    font-family 'Lato'
    font-size 12px
    font-weight $regular
    text-transform uppercase
    margin 0px