@import '../../../assets/styles/vars'
@import '../../../assets/styles/base'

.news-item
  width 773px
  padding-bottom 43px

.news-item-background-image
  background url("src/assets/images/backgrounds/home-hero-2-responsive.jpg")
  background-repeat no-repeat
  background-size cover
  height 404px
  
.news-item-container-date
  background-color #b09c6c
  height 129px
  width 129px
  
.news-item-text-day
  font-size 62px
  font-weight $light !important
  
.news-item-text-month
  font-size 16px
  
.news-item-date-hr
  background-color #fff
  height 1px
  margin 0px 0px 7px 0px
  width 55%
  
.news-text-gray
  color #9b9b9b
  
.news-item-underline
  text-decoration underline
  
.news-item-underline:link
  color #9b9b9b
  
.news-item-underline:visited
  color #9b9b9b
  
.news-item-vertical-hr
  background-color #9b9b9b
  height 22px
  width 1px
  margin 0px 15px
  
.margin-top-32px
  margin 32px 0px 0px 0px
  
.margin-left-23px
  margin-left 23px
  
.margin-left-152px-top-28px
  margin 28px 0px 0px 152px
  
.margin-right-20px
  margin-right 20px !important

.margin-vertical-8px
  margin 8px 0px
  
.margin-top-11px
  margin-top 11px

@media screen and (max-width: 975px)
  .news-item
    width 100%
    
  .news-item-background-image
    height 167px
    
  .news-item-container-date
    height 65px
    width 65px
    
  .news-item-text-day
    font-size 31px
    
  .news-item-text-month
    font-size 12px
    
  .news-item-date-hr
    margin-bottom 3px
    
  .news-item-vertical-hr
    height 15px
    margin 0px 7px
    
  .news-title-16px-mobile
    font-size 16px
    
  .news-subtitle-12px-mobile
    font-size 12px
    
  .margin-top-4px-mobile
    margin-top 4px
    
  .margin-top-6px-mobile
    margin-top 6px
    
  .margin-top-14px-left-84px-mobile
    margin 14px 0px 0px 84px