.profile__studio
  position relative
  width 241px
  height 195px
  margin 8px 8px

.profile__img-studio
  width 241px
  height 195px
  
.profile__icon-studio
  position absolute
  top 0px
  right 0px
  background-color #b09c6c
  color #fff
  padding 6px 10px
  width 34px