@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.artists-grid
  display flex
  flex-wrap wrap
  width 814px
  justify-content space-between
  center-block()

  .artist-item
    margin-top 33px