@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.scheduling__title
  font-size 35px
  letter-spacing -0.3px
  color #1d1d1d
  text-align center
  margin-top 65px

.scheduling__subtitle
  rfont-size 25px 767px 18px
  text-align center
  letter-spacing -0.3px
  color #1d1d1d

.scheduling__subtitle--first
  margin-top 54px