@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.scheduling__title
  font-size 35px
  letter-spacing -0.3px
  color #1d1d1d
  text-align center
  margin-top 65px
  width 86%
  center-block()

.scheduling__subtitle
  rfont-size 25px 767px 18px
  text-align center
  letter-spacing -0.3px
  color #1d1d1d

.scheduling__subtitle--first
  margin-top 54px

.scheduling__hr
  width 83.25%
  max-width 889px

.scheduling__hr--day
  margin-top 76px

.scheduling__day
  margin-top 61px

  .flatpickr-calendar
    margin-top 44px
    top 0
    width 100%
    box-shadow none
    border-radius 0

    &::before,
    &::after
      content ''
      display none

  .flatpickr-month
    color white
    background #1d1c1c
    height 116px

    svg
      fill white
      height 25.7px
      width 25.5px

      &:hover
        fill $dustColor

  .flatpickr-prev-month,
  .flatpickr-next-month
    padding 0
    height 100%

  .flatpickr-prev-month
    left 85px

  .flatpickr-next-month
    right 85px

  .flatpickr-current-month
    line-height 28px
    font-size 26px
    padding 0

    .cur-month
      color $dustColor
      font-weight normal

    .numInputWrapper
      width 70px

  .flatpickr-next-month,
  .flatpickr-prev-month,
  .flatpickr-current-month
    top 38px !important

  .flatpickr-weekdays
    display none

  .flatpickr-days
    background-image url('/src/assets/images/backgrounds/scheduling.jpg')
    background-size cover
    background-position center
    font-size 21px
    margin-top 0
    padding 50px 73px

  .flatpickr-days,
  .flatpickr-rContainer,
  .dayContainer
    width 100%
    max-width initial

  .dayContainer
    min-width 100%

  .flatpickr-day
    color white
    border none !important
    border-radius 0
    width 49.1px
    height 49.1px
    flex-basis 50px
    max-width initial
    line-height 49.1px
    margin 5px 0

    &:not(.selected):not(.disabled):hover
      background rgba($dustColor, 80%)

    &.selected
      background $dustColor

    &.disabled
      color #828282

    &.prevMonthDay,
    &.nextMonthDay
      visibility hidden
      height 0

.scheduling__calendar
  width 100%
  max-width 499px
  center-block()

.scheduling__time
  background $dustColor
  font-size 16px
  color white
  text-align center
  padding 33px 15px

.scheduling__hr--data
  margin-top 102px

.scheduling__data
  margin-top 65px
  width 85.31%
  max-width 677px
  center-block()

.scheduling__textarea
  rfont-size 18px 767px 15px
  letter-spacing 0.2px
  padding 1em unit(24/18, 'em')
  height 147px
  margin-top 45px
  width 100%

.scheduling__subtitle--reference
  margin-top 40px

.scheduling__file-wrapper
  background-color #f5f5f5
  padding 45px 25px
  text-align center
  position relative
  margin-top 28px

.scheduling__file
  opacity 0
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  z-index 2
  cursor pointer

.scheduling__file-icon
  width 83px
  display block
  center-block()

.scheduling__file-legend
  rfont-size 13px 767px 12px
  padding 0 6px 4px 6px
  display inline-block
  margin-top 11px
  simple-border('bottom', 1px, $dustColor)

.scheduling__submit
  display block
  font-size 13px
  letter-spacing 0.6px
  padding 14px
  width 188px
  margin-bottom 58px
  margin-top 70px
  center-block()