@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.tattoo-modal
  position relative

.tattoo-modal__header
  text-align right
  padding-right 45px

.tattoo-modal__prev,
.tattoo-modal__next,
.tattoo-modal__close
  cursor pointer

.tattoo-modal__close
  height 23px
  width 25.5px

.tattoo-modal__prev,
.tattoo-modal__next
  position absolute
  top 50%
  height 36px
  width 18px
  transform translateY(-50%)

.tattoo-modal__prev
  left 0

.tattoo-modal__next
  right 0

.tattoo-modal
  .tattoos-grid__element
    margin 26px 45px 0 45px
    max-width 865px
    width 85vw
    min-width 320px

  .tattoos-grid__element-thumbnail-img
    height auto
    max-height 423px
    object-fit cover
    width 100%

  .tattoos-grid__element-thumbnail-actions
    top 28px
    right 32px

    .fa
      font-size 25px
      margin-left 8px

  .tattoos-grid__element-info-wrapper
    display flex
    flex-wrap wrap
    justify-content space-between
    padding 33px 36px 45px 36px

  .tattoos-grid__element-info-left
    flex-basis calc(100% - 240px)

  .tattoos-grid__element-info-right
    flex-basis 144px
    text-align right

  .tattoos-grid__element-buttons
    text-align center

  .tattoos-grid__element-info-top
    justify-content left

  .tattoos-grid__element-info
    width 100%
    margin-left 19px

  .tattoos-grid__element-tags
    text-align left
    margin-top 27px
    margin-bottom 0

  .tattoos-grid__element-author-pic
    width 53px
    height 53px

  .tattoos-grid__element-author
    font-size 33px
    max-width none

  .tattoos-grid__element-location
    font-size 22px

  .tattoos-grid__element-stars
    font-size 12.5px
    margin-top 8px

    .fa:not(:first-child)
      margin-left 0.4em

  .tattoos-grid__element-tags
    font-size 13px

  .tattoos-grid__element-tag:not(:first-child)
    margin-left 0.65em

  .tattoos-grid__element-info-likes
    font-size 14px

  .tattoos-grid__element-buttons
    margin-top 30px

  .tattoos-grid__element-comments
    flex-basis 100%
    margin-top 35px

  .tattoos-grid__new-comment-form
    width 100%
    height auto
    background white
    border-radius 2px
    text-align right
    padding 12px 10.4px 9px 16px

    .site-button
      font-size 9px
      padding 11.5px 18px
      margin-top 5px

  .tattoos-grid__new-comment-input
    display block
    border none
    outline none
    min-height 21px
    rfont-size 15px 500px 11px
    height 21px
    width 100%
    text-align left
    overflow-y hidden