@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.tattoo-modal
  position relative

.tattoo-modal__header
  text-align right
  padding-right 45px

.tattoo-modal__prev,
.tattoo-modal__next,
.tattoo-modal__close
  cursor pointer

.tattoo-modal__close
  height 23px
  width 25.5px

.tattoo-modal__prev,
.tattoo-modal__next
  position absolute
  top 50%
  height 36px
  width 18px
  transform translateY(-50%)

.tattoo-modal__prev
  left 0

.tattoo-modal__next
  right 0

.tattoo-modal
  .tattoos-grid__element
    margin 26px 45px 0 45px

  .tattoos-grid__element,
  .tattoos-grid__element-thumbnail-img-wrapper
    width auto

  .tattoos-grid__element-thumbnail-img
    height auto
    max-height 423px
    object-fit cover
    width 865px