@import '../../assets/styles/vars'
@import '../../assets/styles/base'

.margin-vertical-69px-109px
  margin 69px 0px 109px 0px

.margin-bottom-17px
  margin 0px 0px 17px 0px

.margin-bottom-26px
  margin 0px 0px 26px 0px

.margin-bottom-55px
  margin 0px 0px 55px 0px

.margin-bottom-8px
  margin 0px 0px 8px 0px

.margin-vertical-15px-25px
  margin 15px 0px 25px 0px

.margin-bottom-36px
  margin 0px 0px 36px 0px

.input-padding-horizontal-19px
  padding-left 19px
  padding-right 19px

.padding-horizontal-30px
  padding 0px 33px

.textarea-style
  height 191px
  padding 19px
  
@media screen and (max-width 975px)
  .margin-horizontal-23px-mobile
    margin-left 23px
    margin-right 23px