@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.studio__hero
  background-image url('/src/assets/images/backgrounds/studio.jpg')
  text-align center
  color white
  padding-top 59px
  padding-bottom 68px

.studio__logo
  width 210px

.studio__title
  font-size 29px
  letter-spacing -0.3px
  margin-top 11px
  font-weight $regular
  center-block()

.studio__hero-inner
  display flex
  justify-content space-between
  max-width 780px
  width 83%
  position relative
  margin-top 61px
  padding 20px 0 19px 0
  center-block()

  .site-button
    font-size 13px
    letter-spacing 0.5px
    padding 16px
    width 188px
    margin-top 41px

.studio__hero-right::before
  position absolute
  background $dustColor
  content ' '
  height 100%
  top 0
  left calc(50% - 0.5px)
  width 1px

.studio__hero-subtitle
  font-family 'BebasNeue'
  rfont-size 55px 767px 40px
  letter-spacing 0.1px
  margin 0

.studio__hero-subtext
  font-family 'Master of break'
  display block
  font-weight normal
  line-height 1.14
  rfont-size 43px 767px 27px

.studio__subtitle
  color white
  rfont-size 35px 767px 28px
  letter-spacing -0.3px
  margin 0
  font-weight $regular
  text-align center
  width 90%
  center-block()

.studio__hr
  width 83%
  max-width 903px
  margin-top 53px

.studio__tattoos-subtitle
  margin-top 53px
  color #171717

.studio__tattoos
  margin-top 91px
  position relative
  width 956px
  overflow hidden
  center-block()

  &::after,
  &::before
    content ' '
    background white
    position absolute
    top 0
    height 100%
    width 59px
    z-index 2

  &::before
    left 0

  &::after
    right 0

  .swiper-wrapper
    margin-left 150px

  .swiper-slide
    width auto

  .swiper-button-prev,
  .swiper-button-next
    width 16px

  .swiper-button-prev
    left 0

  .swiper-button-next
    right 0

  .swiper-pagination
    display none

  .tattoos-grid__element
    margin 0
    width 205px

  .tattoos-grid__element-thumbnail-img-wrapper
    height 177px

  .tattoos-grid__element-info-wrapper
    padding 18px 19px 26px 19px

  .tattoos-grid__element-author-pic
    width 24px
    height 24px

  .tattoos-grid__element-info-likes
    font-size 7.5px
    margin-right -10px
    margin-left 5px

    &::before
      font-size 12px
      margin-right 5px

  .tattoos-grid__element-info
    margin-left 7px

  .tattoos-grid__element-author
    font-size 14.3px

  .tattoos-grid__element-location
    font-size 11px

  .tattoos-grid__element-stars
    font-size 7px
    margin-top 4.5px

  .tattoos-grid__element-tags
    font-size 9px
    margin-top 15px

  .tattoos-grid__element-buttons
    font-size 9px
    margin-top 14px

  .site-button
    width 118px

    &:nth-child(2)
      display none

.studio__gallery-button
  display block
  margin-top 57px
  margin-bottom 80px
  text-align center
  width 188px
  font-size 13px
  padding 17px
  center-block()

.studio__flashes
  background-image url('/src/assets/images/backgrounds/studio-flashes.jpg')
  padding-top 34px
  padding-bottom 61px
  text-align center

  .gallery-subtitle
    color white
    rfont-size 25px 767px 21px
    margin-top 28px

  .site-button
    font-size 13px
    padding 16px
    margin-top 59px
    width 188px

.studio__flashes-carousel
  width 1024px
  margin-top 60px
  overflow hidden
  position relative
  center-block()

  .swiper-wrapper
    flex-wrap wrap

  .artist-item
    margin-top 0
    height 263px
    width 257px

  .swiper-pagination
    display none

.studio__carousel
  .swiper-button-prev,
  .swiper-button-next
    background none

  .swiper-pagination-bullet
    background #d8d8d8
    opacity 1
    width 5px
    height 5px
    margin 0 2.5px !important

  .swiper-pagination-bullet-active
    background $dustColor

.studio__photos-carousel
  position relative
  height 41vw

  .swiper-pagination
    bottom 26px

  .swiper-pagination-bullet
    width 6.2px
    height 6.2px

    &:not(.swiper-pagination-bullet-active)
      background #ffffff

  .swiper-button-prev,
  .swiper-button-next
    width 11px
    height 20px

  .swiper-button-prev
    left 34px

  .swiper-button-next
    right 34px

.studio__evaluations-hr
  width 83.75%
  max-width 903px
  margin-top 42px
  margin-bottom 61px

.studio__evaluations-artists
  display flex
  text-align center

.studio__evaluations,
.studio__artists
  flex-basis 50%
  overflow hidden
  position relative

.studio__evaluations
  background #1d1c1c
  color white
  padding 57px 114px 53px 114px

.studio__evaluations-title
  font-weight $regular
  margin 0
  display inline-block
  rfont-size 22px 767px 15px
  letter-spacing -0.2px
  padding 0 2px 5.5px 2px
  simple-border('bottom', 1px, $dustColor)

.studio__evaluations-carousel
  margin-top 48px

  &::after
    content ' '
    display block
    margin-top 24px
    height 1px
    background $dustColor
    width 94.5%
    center-block()

.studio__evaluation-title
  font-weight $regular
  margin 0
  rfont-size 22px 767px 16px
  letter-spacing -0.2px

.studio__evaluation-stars
  font-size 12px
  color $dustColor
  margin-top 19px

  .fa
    margin 0 1.5px

.studio__evaluation-content
  line-height 1.42
  font-size 12px
  margin-top 14px

.studio__artists
  align-self center

@media screen and (max-width: 1023px)
  .studio__tattoos
    width 705px

    &::before,
    &::after
      width 40px

    .swiper-wrapper
      margin-left 169px

  .studio__flashes-carousel
    width 514px

    .swiper-pagination
      display block

@media screen and (max-width: 900px)
  .studio__hero-right::before
    content ''
    display none

@media screen and (max-width: 855px)
  .studio__tattoos .tattoos-grid__element-buttons .site-button
    font-size inherit
    width 148px

@media screen and (max-width: 767px)
  .studio__hero-inner
    max-width 460px
    padding 0

    .site-button
      padding 12px
      margin-top 24px
      width 138px

  .studio__photos-carousel
    display none

  .studio__evaluations-hr
    margin-top 56px
    margin-bottom 33px

@media screen and (max-width: 767px)
  .studio__hr
    display none

  .studio__tattoos
    margin-top 50px
    width 320px

    .swiper-button-prev,
    .swiper-button-next,
    &::before,
    &::after
      display none

    .swiper-wrapper
      margin-left 0
      margin-bottom 40px

    .swiper-pagination
      display block

    .tattoos-grid__element
      width 320px

    .tattoos-grid__element-thumbnail-actions
      top 20px

      .fa
        font-size 20px

    .tattoos-grid__element-thumbnail-img-wrapper
      height 268px

    .tattoos-grid__element-info-wrapper
      padding 25px 17px 40px 17px

    .tattoos-grid__element-author-pic
      width 38px
      height 38px

    .tattoos-grid__element-info-likes
      font-size 10px
      margin-right 0
      margin-left 10px

      &::before
        font-size 19px
        margin-right 6px

    .tattoos-grid__element-info
      margin-left 12px

    .tattoos-grid__element-author
      font-size 19px

    .tattoos-grid__element-location
      font-size 16px
      margin-top 2.5px

    .tattoos-grid__element-stars
      font-size 11px
      margin-top 8.5px

      .fa:not(:first-child)
        margin-left 3px

    .tattoos-grid__element-tags
      font-size 10px
      margin-top 31px

    .tattoos-grid__element-buttons
      font-size 11px
      margin-top 22.5px

      .site-button
        width 185px

  .studio__gallery-button
    margin-top 22px
    margin-bottom 50px

  .studio__flashes
    padding-top 40px
    padding-bottom 55px

    .gallery-subtitle
      margin-top 15px

  .studio__flashes-carousel
    margin-top 50px

@media screen and (max-width: 580px)
  .studio__flashes .site-button
    margin-top 10px

  .studio__flashes-carousel
    width 322px
    padding-bottom 46px

    .flash-square-item
      flex-basis 160px
      width 160px
      height 171px

      .artist-item__back-content
        padding 24px 15px 15px

      .fa-usd,
      .fa-arrows-alt
        margin-right 5.5px

      .fa-usd
        width 17px
        height 17px
        padding .35px 6px

        &::before
          font-size 8.5px

      .fa-arrows-alt
        font-size 15px

      .artist-item__tag
        padding 4px 8px

      .artist-item__top-like-button,
      .artist-item__top-share-button
        font-size 11px
        top 9px

      .artist-item__top-share-button
        right 8px

      .artist-item__top-like-button
        right 28px

@media screen and (max-width: 420px)
  .studio__hero
    padding-top 61px
    padding-bottom 54px

  .studio__hero-inner
    flex-wrap wrap
    justify-content center
    align-items flex-start

  .studio__hero-left,
  .studio__hero-right
    flex-basis 100%

  .studio__hero-right
    margin-top 40px
    padding-top 42px
    position relative
    simple-border('top', 1px, $dustColor)

    &::before,
    &::after
      position absolute
      background transparent
      display block
      content ' '
      border-radius 50%
      top -4px
      width 5px
      height 5px
      simple-border('all', 1px, $dustColor)

    &::before
      left -6px

    &::after
      right -6px

@media screen and (max-width: 399px)
  .studio__tattoos-subtitle
    display none

  .studio__tattoos
    margin-top 0

  .studio__gallery-button
    margin-bottom 30px