@import '../../assets/styles/vars'
@import '../../assets/styles/base'

.about-img
  height 244px
  width 367px
  min-height 244px
  min-width 367px

.about-text
  color #2f2f2f
  font-size 16px
  margin 0
  margin 0 0 20px 0

.about-text-style
  font-size 23px

.margin-vertical-69px-80px
  margin 69px 0px 80px 0px

.about-separator
  width 80%
  margin 36px 0px

.about-separator-gold
  background-color $dustColor
  height 1px

.margin-0px
  margin 0px

.margin-bottom-14px
  margin 0px 0px 14px 0px

.margin-left-18px
  margin-left 18px

.width-80
  width 80%

.margin-5rem
  margin-bottom 5rem

@media screen and (max-width 975px)
  .about-img
    width 100%
    height auto

  .about-text
    font-size 14px

  .about-separator
    margin 20px 0px 61px 0px

  .width-100-mobile
    width 100%

  .margin-bottom-49px-mobile
    margin 0px 0px 49px 0px

  .margin-x-25px-40px-0px-mobile
    margin 40px 25px 0px 25px

  .margin-vertical-40px-mobile
    margin 40px 0px !important

  .margin-horizontal-25px-mobile
    margin 0px 25px 0px 25px

  .about-text-style
    font-size 20px
