@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'
@import '../../../assets/styles/base'

.separator
  width 85%
  
.new-tattoo-artist
  background-color #1d1c1c
  width 234px
  height 241px
  margin 8px
  
.new-tattoo-artist-txt
  color #9b9b9b
  
.margin-right-10px
  margin-right 10px
  
@media screen and (max-width 975px)
  .padding-horizontal-15px
    padding 0px 15px
    
  .margin-bottom-27px-mobile
    margin-bottom 27px