@import '../../assets/styles/vars'
@import '../../assets/styles/base'

.margin-vertical-82px-116px
  margin 82px 0px 116px 0px

.separator
  width 85%
  margin 46px 0px
  
.separator-gold
  background-color #b09c6c
  height 1px
  
.notice-text-12px
  font-size 12px
  
.width-50
  width 50%
  
.margin-bottom-55px
  margin 0px 0px 55px 0px
  
.margin-bottom-116px
  margin-bottom 116px

.text-uppercase
  text-transform uppercase

@media screen and (max-width: 975px)
  .margin-vertical-57px-68px-mobile
    margin 57px 0px 68px 0px
    
  .separator-gold
    margin 94px 0px 40px 0px !important
    
  .width-70-mobile
    width 70%
    
  .margin-bottom-27px-mobile
    margin 0px 0px 27px 0px