@import '../../../assets/styles/vars'
@import '../../../assets/styles/base'

.studies-item
  background-color #262626
  width 222px
  height 438px
  margin 8px
  
.studies-item-background-img
  background-image url("src/assets/images/mock/artist1.png");
  background-size cover
  background-repeat no-repeat
  background-position center center
  height 259px
  
.content-mosaic-padding-10px-15px
  padding 10px 15px
  
.justify-between
  justify-content space-between
  
.text-mosaic-title
  font-size 17px
  
.text-mosaic-location
  font-size 15px
 
.studies-item-icon-heart
  background-color #262626
  color #fff
  border none
  font-size 11.4px
  
.text-mosaic-likes
  font-size 9px

.margin-left-5px
  margin-left 5px
  
.margin-vertical-10px
  margin 10px 0px
  
.line-height-0px
  line-height 0px
  
.icon-mosaic-star
  color #f7c42a
  font-size 8px
  
.ul-mosaic-tags
  justify-content center
  list-style none
  padding-left 0px
  
.li-mosaic-tag
  background-color #e5e5e5
  border-radius 100px
  height 18px
  width 60px
  margin 3px 2px
  
.margin-top-10px
  margin 10px 0px 0px 0px
	
.text-mosaic-tag
  font-size 10px
  
.my-tattoo-mar-rgt
  margin-right 7px
  
.horizontal-start
  justify-content flex-start
  
@media screen and (max-width 975px)
	.studies-item
		height 563px
		margin 7.1px 0px

	.studies-item-background-img
		height 333px

	.content-mosaic-padding-18px-30px-mobile
		padding 18px 30px

	.text-mosaic-title
		font-size 19px

	.text-mosaic-location
		font-size 17px
		padding 6.9px 0px

	.margin-vertical-18px-mobile
		margin 18px 0px

	.icon-mosaic-star
		font-size 10px

	.li-mosaic-tag
		height 25px
		width 80px
		margin-top 5px
		margin-bottom 5px

	.text-mosaic-tag
		font-size 12px

	.studies-item-icon-heart
		font-size 16.8px

	.text-mosaic-likes
		font-size 10px

	.width-100-mobile
		width 100% !important