@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.user__favourites
  margin-top 60px

.user__favourites-title
  margin 0 auto
  letter-spacing -0.3px
  rfont-size 35px 767px 31px

.user__favourites-subtitle
  margin-top 33px
  rfont-size 22px 767px 17px
  letter-spacing -0.1px
  width 78.43%
  max-width 396px
  center-block()

.user__favourites-hr
  margin-top 47px
  width 88.18%
  max-width 903px

.user__favourites-filters
  margin-top 60px
  margin-bottom 33px

@media screen and (max-width: 855px)
  .user__favourites-grid
    .flashes-grid__flash-element
      .tattoos-grid__element-info
        width 170px

      .tattoos-grid__element-buttons .site-button
        width 153px
        padding 10px
        font-size 11px

@media screen and (max-width: 767px)
  .user__favourites
    margin-top 50px

    .gallery-filters-toggle
      margin-bottom 25px

  .user__favourites-subtitle
    margin-top 21px

  .user__favourites-hr
    margin-top 37px
    width 76.25%