@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.quotation-step-3__icon
  display inline-block
  width 56px
  margin-bottom 61px
  margin-top 61px

.quotation-instructions--step-3-main
  width 379px
  center-block()

.quotation-step-3__content
  margin-top 111px