@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.quotation-step-3__icon
  display inline-block
  width 56px
  margin-bottom 61px
  margin-top 61px

.quotation-instructions--step-3-main
  width 379px
  center-block()

.quotation-step-3__content
  display flex
  align-items flex-end
  justify-content space-between
  margin-top 111px
  width 708px
  center-block()

.quotation-step-3__parts
  margin-bottom 84px

.quotation-step-3__types
  display table

.quotation-step-3__types-titles,
.quotation-step-3__types-images
  display table-row

.quotation-step-3__type-title,
.quotation-step-3__type-front,
.quotation-step-3__type-back
  display table-cell