@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.site-navbar
  background $blackColor
  display flex
  align-items center
  height 102px
  left 0
  position fixed
  top 0
  width 100%
  padding remify(15) remify(38)
  z-index 12

.site-navbar-wrapper + main
  padding-top 102px

.site-navbar__menu-trigger,
.site-navbar__mobile-logo-container
  display none

.site-navbar__menu-trigger
  color $dustColor

.site-navbar__desktop-logo-container
  margin-right 12px

  img
    width remify(166)

.site-navbar__menu-container
  display flex
  flex-grow 1
  align-items center
  justify-content flex-end
  text-align right
  position relative
  height 100%
  overflow hidden

.site-navbar__menu
  height 100%
  flex-shrink 0
  display flex
  align-items center
  justify-content flex-end
  transition opacity 0.2s

  &.transparent
    opacity 0.3

.site-navbar__search
  position relative
  margin-right 15px
  padding-left 40px
  rfont-size 16px 768px 14px

.site-navbar__search--show-input
  .site-navbar__search-input
    padding 0.4em 2em 0.4em 1.2em
    width auto
    opacity 1

.site-navbar__search-input
  background transparent
  font-family 'Lato'
  color $dustColor
  transition all 0.2s
  padding 0.4em 0
  opacity 0
  border-radius 20px
  border none
  simple-border('all', 1px, rgba($dustColor, 0.65))
  outline none
  width 0

  &::placeholder
    color #4a4a4a

.site-navbar__search-button
  position absolute
  color rgba($dustColor, 0.9)
  right 8px
  top 8px
  cursor pointer
  background none
  border none
  outline none
  font-size 14px

.site-navbar__signup-button
  padding 1em 2.2em
  letter-spacing 0.4px
  font-size 9px

.site-navbar__menu-link
  color $dustColor
  font-weight $bold
  transition color 0.2s
  rfont-size 16px 768px 14px
  padding 0 0.55em
  flex-shrink 0

  &:hover, &.active
    color lightness($dustColor, 40%)

@media screen and (max-width: 975px) // Change
  .site-navbar
    justify-content space-between
    height 47px
    padding 19.2px 17px 9.8px 18px

  .site-navbar-wrapper + main
    padding-top 47px

  .site-navbar__desktop-logo-container
    img
      height 17px
      width auto

  .site-navbar__mobile-logo-container
    display block
    center-block()
    width 40%

    img
      width 100%

  .site-navbar__menu-trigger
    display block
    float right

    img
      height 21px

  .site-navbar__menu-container
    background $blackColor
    display block
    height 100vh
    margin-right 0
    overflow-y auto
    position fixed
    text-align center
    padding-bottom 40px
    right -280px
    top 0
    transition right 0.2s
    width 280px
    padding-top 25px // Change

  .site-navbar__menu-container--show-menu
    right 0

  .site-navbar__menu
    text-align left
    margin-top 30px
    height auto
    flex-wrap wrap

  .site-navbar__menu,
  .site-navbar__search
    width 100%

  .site-navbar__search
    margin 20px 0 0
    padding 0 3em

  .site-navbar__search--show-input
    .site-navbar__search-input
      width 100%

  .site-navbar__search-button
    right 3.6em
    top 6px

  .site-navbar__menu-link
    display block
    height auto
    display block
    text-align left
    padding 0.7em 3em
    flex-basis 100%

  .site-navbar__signup-button
    margin-top 30px