@import '../../../assets/styles/vars'
@import '../../../assets/styles/base'

.width-50
  width 50%

.margin-bottom-33px
  margin 0px 0px 33px 0px

.margin-bottom-116px
  margin-bottom 116px

.margin-vertical-82px-314px
  margin 82px 0px 314px 0px

.margin-vertical-0px-83px
  margin 0px 0px 83px 0px

@media screen and (max-width: 975px)
  .width-70-mobile
    width 70%

  .margin-bottom-0px-mobile
    margin-bottom 0px

  .margin-vertical-51px-36px-mobile
    margin 51px 0px 36px 0px

  .margin-vertical-0px-59px-mobile
    margin-top 0px
    margin-bottom 59px

  .margin-vertical-57px-85px-mobile
    margin 57px 0px 85px 0px