@import '../../../assets/styles/vars'
@import '../../../assets/styles/base'

.separator
  width 85%
  margin 46px 0px
    
.margin-bottom-72px
  margin 0px 0px 72px 0px

@media screen and (max-width: 975px)
  .margin-horizontal-40px-mobile
    margin-left 40px
    margin-right 40px
    text-align center

  .separator
    margin 35px 0px