@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.user__quotations-title
  rfont-size 35px 767px 28px
  letter-spacing -0.3px
  margin-top 60px
  text-align center

.user__quotations-subtitle
  letter-spacing 0.1px
  rfont-size 22px 767px 16px
  margin-top 30px
  display block
  text-align center

.user__quotations-hr
  width 76.25%
  max-width 903px
  margin-top 64px

.user__quotations-wrapper
  margin-top 84px
  padding-bottom 79.5px

.user__quotations-grid
  width 860px
  center-block()

@media screen and (max-width: 767px)
  .user__quotations-title
    margin-top 43px

  .user__quotations-subtitle
    margin-top 15px

  .user__quotations-hr
    margin-top 38px

  .user__quotations-wrapper
    margin-top 38.5px

@media screen and (max-width: 859px)
  .user__quotations-grid
    width 680px

@media screen and (max-width: 714px)
  .user__quotations-grid
    width 320px