@import '../../../assets/styles/vars'
@import '../../../assets/styles/mixins'

.possible-client
  height 302px
  width 214px
  background-color #262626
  margin 8px
  
.content-row
  display flex
  flex-direction row
  
.hor-align
  display flex
  align-items center
  justify-content center

.possible-client__bg
  background url('src/assets/images/mock/group-8.png')
  background-repeat no-repeat
  background-size cover
  height 112px
  
.possible-client__user
  font-size 13px
  
.possible-client__desc
  font-size 12px
  
.possible-client__icon
  width 18px
  
.possible-client__btn
  color #fff
  background-color #b09c6c
  border none
  border-radius 2px
  font-family 'Lato'
  font-size 13px
  font-weight $regular
  text-transform uppercase
  
.buy-item
  height 34px
  width 112px
  
.buy-leads
  height 34px
  width 161px
  margin-top 62px
  
.base-txt
  color #fff
  font-family 'Lato'
  font-weight $regular
  margin 0px
  
.possible-client__img
  width 30px
  
.separator-gold
  border solid 1px #b09c6c
  margin 10px 21px
  
.mar-ver-8-16
  margin 8px 0px 16px 0px
  
.mar-top-24
  margin-top 24px
  
.mar-right-5
   margin-right 5px
  
@media screen and (max-width: 975px)
  .possible-client
    margin 8px 0px
    width 100%
  