@import './vars'
@import './mixins'

*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14px

  @media screen and (max-width: 480px)
    font-size 12px

body
  font-size inherit
  font-family 'Lato'
  color #4a4a4a

  &.modal-visible
    overflow hidden

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

a
  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

.golden-text
  color #a08b59

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

.site-button
  background $dustColor
  display inline-block
  border-radius 2px
  text-transform uppercase
  color white
  outline none
  cursor pointer
  border none
  font-family 'Lato'
  font-weight normal
  transition background 0.2s

  &:hover,
  &:active,
  &:focus
  &.active
    background lightness($dustColor, 45%)

.site-button--inverse
  background transparent
  color $dustColor
  simple-border('all', 1px, $dustColor)
  transition background 0.2s, color 0.2s

  &:hover,
  &:active,
  &:focus
  &.active
    color white
    background $dustColor

.site-button--black
  background black

  &:hover,
  &:active,
  &:focus
  &.active
    background $blackColor

.noUi-tooltip
  background transparent
  border none
  color white
  font-size 14px
  font-family 'Lato'
  letter-spacing 0.1px
  padding 0 0 10px 0
  width 100px

.noUi-handle
  background white
  border 2px solid $dustColor
  border-radius 50%
  box-shadow 0 2px 4px 0 rgba(black, 0.5)
  cursor pointer

  &::before,
  &::after
    content ''
    display none

.noUi-connect
  background $dustColor
  box-shadow none
  border-radius 4.5px

.noUi-target
  background white
  border none
  box-shadow none
  border-radius 4.5px
  height 9.2px

.noUi-horizontal .noUi-handle
  height 26px
  width 26px
  top -8px


.tippy-tooltip.latatuadora-theme
  background-color $dustColor
  border-radius 0
  padding 6px 9px 8px 9px
  font-size 12px

.tippy-popper[x-placement^=top] [x-arrow]
  border-top-color $dustColor

.tippy-tooltip.latatuadora-theme .tippy-tooltip-content
  color white
  font-family 'Lato'

.scrollable
  overflow-x hidden
  overflow-y auto

  &::-webkit-scrollbar
    width 9px

  &::-webkit-scrollbar-track
    background transparent

  &::-webkit-scrollbar-thumb
    background #a0a0a0

    &:window-inactive
    	background #d8d8d8

.cp-eclipse
  animation-duration 0.85s
  background $dustColor

  &::after
    border-left-color $dustColor

  &::before
    border-right-color $dustColor

.special-hr
  background $dustColor
  border none
  height 1px
  center-block()
  position relative

  &::before, &::after
    content ' '
    display block
    border-radius 50%
    position absolute
    top 0
    height 7px
    width 7px
    transform translateY(-50%)
    border 1px $dustColor solid

  &::before
    left -7px

  &::after
    right -7px

@media screen and (max-width: 767px)
  .noUi-horizontal .noUi-handle
    top -10px

  .noUi-target
    height 6px

  .noUi-tooltip
    padding-bottom 8.5px

  .special-hr
    &::before, &::after
      width 2.1px
      height 2.1px

    &::before
      left -2.1px

    &::after
      right -2.1px