@font-face
  font-family 'Lato'
  font-style normal
  font-weight $regular
  src local('☺︎'),
    url('./src/assets/fonts/Lato-Regular.ttf') format('truetype'),
    url('./src/assets/fonts/Lato-Regular.woff') format('woff'),
    url('./src/assets/fonts/Lato-Regular.woff2') format('woff2')

@font-face
  font-family 'Lato'
  font-style italic
  font-weight $bold
  src local('☺︎'),
    url('./src/assets/fonts/Lato-Bold-Italic.woff2') format('woff2'),
    url('./src/assets/fonts/Lato-Bold-Italic.woff') format('woff'),
      url('./src/assets/fonts/Lato-Bold-Italic.ttf') format('truetype')

@font-face
  font-family 'BebasNeue'
  font-style italic
  font-weight $bold
  src local('☺︎'),
    url('./src/assets/fonts/BebasNeue-Bold.woff2') format('woff2'),
    url('./src/assets/fonts/BebasNeue-Bold.woff') format('woff'),
    url('./src/assets/fonts/BebasNeue-Bold.ttf') format('opentype')

@font-face
  font-family 'SFNSDisplay Condensed'
  font-style normal
  font-weight $ultralight
  src local('☺︎'),
    url('./src/assets/fonts/SFNSDisplay-Condensed-Ultralight.woff2') format('woff2'),
    url('./src/assets/fonts/SFNSDisplay-Condensed-Ultralight.woff') format('woff'),
    url('./src/assets/fonts/SFNSDisplay-Condensed-Ultralight.otf') format('opentype')

@font-face
  font-family 'SFNSText'
  font-style normal
  font-weight $regular
  src local('☺︎'),
    url('./src/assets/fonts/SFNSText-Regular.woff2') format('woff2'),
    url('./src/assets/fonts/SFNSText-Regular.woff') format('woff'),
    url('./src/assets/fonts/SFNSText-Regular.ttf') format('truetype')

@font-face
  font-family 'SFNSText'
  font-style normal
  font-weight $ultralight
  src local('☺︎'),
    url('./src/assets/fonts/SFNSText-Italic.woff2') format('woff2'),
    url('./src/assets/fonts/SFNSText-Italic.woff') format('woff'),
    url('./src/assets/fonts/SFNSText-Italic.ttf') format('truetype')

@font-face
  font-family 'Master of break'
  font-style normal
  font-weight $normal
  src local('☺︎'),
    url('./src/assets/fonts/Master-of-break.woff2') format('woff2'),
    url('./src/assets/fonts/Master-of-break.woff') format('woff'),
    url('./src/assets/fonts/Master-of-break.otf') format('opentype'),
    url('./src/assets/fonts/Master-of-break.ttf') format('truetype')