.tattoos-grid
  center-block()
  width 855px

.tattoos-grid__element
  width 257px
  text-align center
  margin 29px 14px 0 14px
  transition margin-top 0.25s, opacity 0.2s

.tattoos-grid__element-thumbnail
  width 100%
  position relative

  .tattoos-grid__element-thumbnail-img-wrapper, img
    display block
    width 100%

  &:hover .fa
    text-shadow 0 0 8px rgba(black, 0.5)

.tattoos-grid__element-thumbnail-actions
  position absolute
  z-index 2
  right 13px
  top 13px

  .fa
    border none
    text-shadow none
    background none
    cursor pointer
    padding 0
    font-size 14px
    color white
    margin-left 4px
    transition text-shadow 0.3s

.tattoos-grid__element-info-wrapper
  background $blackColor
  color white
  padding 22px 14px 18.3px 17px

.flashes-element
  .tattoos-grid__element-info-wrapper
    background $dustColor

  .tattoos-grid__element-stars
    color $blackColor

  .tattoos-grid__element-location
    color white

.tattoos-grid__element-info-top
  display flex
  align-items flex-start
  justify-content space-between
  position relative

.tattoos-grid__element-author-pic
  width 32px
  height 32px

.tattoos-grid__element-info
  width 146px
  margin-left 10px
  text-align left

.tattoos-grid__element-location,
.tattoos-grid__element-author
  display block

.tattoos-grid__element-author
  color white
  font-size 17px
  max-width 137px
  letter-spacing -0.1px

.tattoos-grid__element-location
  color $dustColor
  font-size 15px
  letter-spacing -0.2px
  margin-top 2px

.tattoos-grid__element-stars
  color #f7c42a
  font-size 7.5px
  margin-top 5px

  .fa
    display inline-block

    &:not(:first-child)
      margin-left 1px

.tattoos-grid__element-tags
  margin-top 21px
  margin-bottom 18px
  font-size 9px

.tattoos-grid__element-tag
  background #e5e5e5
  color #262626
  border-radius 50px
  letter-spacing 0
  display inline-block
  padding 6px 12px

  &:not(:first-child)
    margin-left 4.2px

.tattoos-grid__element-buttons
  .site-button
    width 148px
    font-size 8.6px
    display block
    center-block()
    line-height 1
    padding 1em 1.5em
    font-family 'SFNSText'

    &:last-of-type
      margin-top 8.8px

.tattoos-grid__element-info-likes
  padding 0
  background none
  cursor pointer
  color white
  border none
  outline none
  font-family 'Lato'
  font-size 9px
  margin-left 15px
  line-height 10px
  letter-spacing -0.2px
  min-width 50px
  max-width 80px
  padding-top 5.5px

  &::before
    font-family 'FontAwesome'
    font-size 13px
    margin-right 7px

.tattoos-grid-loader,
.tattoos-grid-icon
  center-block()
  display block

@media screen and (max-width: 855px)
  .tattoos-grid
    width 680px

  .tattoos-grid__element
    width 320px
    margin 16px 10px 0 10px

  .tattoos-grid__element-thumbnail-actions
    top 16px
    right 16px

    .fa
      font-size 15px
      margin-left 5px

  .tattoos-grid__element-info-wrapper
    padding 27.5px 18px 27px 21px

  .tattoos-grid__element-info
    width 170px

  .tattoos-grid__element-buttons
    .site-button
      font-size 11px
      letter-spacing 0
      width 189px

      &:last-of-type
        margin-top 12px

  .tattoos-grid__element-author-pic
    width 29.1px
    height 29.1px

  .tattoos-grid__element-author
    width 100%
    max-width initial

  .tattoos-grid__element-stars
    margin-top 8.2px
    font-size 9px

  .tattoos-grid__element-tags
    font-size 10.5px
    margin 32px 0 23px 0

  .tattoos-grid__element-info-likes
    &::before
      font-size 18px
      vertical-align bottom
      margin-right 13px

@media screen and (max-width: 700px)
  .tattoos-grid
    width 320px

  .tattoos-grid__element
    margin 0 0 14px 0

@media screen and (max-width: 500px)
  .tattoos-grid-icon
    margin-top 15px