// COLORS
$errorColor = #ff3636
$successColor = #149a14
$dustColor = #b09c6c
$blackColor = #1d1c1c
$borderColor = #e6e6e6
$loudBlack = #262626
$platinum = #bec3c6

$facebookColor = #395997

// Base font-size
$baseFontSize = 16

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black
