@import '../../../../assets/styles/vars'
@import '../../../../assets/styles/base'

.absolute-left-0px-bottom-45px-negative
  left 0px
  bottom -45px

.separator
  width 85%
  margin 46px 0px

.title  
  font-size 25px

.payment-leads-quantity,
  .payment-leads-select
    font-size 23px

.payment-leads-quantity
  margin 0px 0px 22px 0px

.payment-leads-total
  font-size 20px
  margin 0px

.payment-leads-circle
  background-color #b09c6c
  border-radius 50px
  height 30px
  width 30px

.payment-leads-text-return
  color #595959
  font-size 13px
  text-transform uppercase
  margin 0px
  margin-left 10px

.payment-leads-arrow
  width 8px

.payment-leads-card
  border-radius 13px
  width 199px
  height 111px 
  background-color #f9f9f9
  margin 0px 9px

.payment-leads-card:hover
  content "Hola"
  border solid 5px #b09c6c
  border-radius 13px

.payment-leads-card-img
  width 147px

.payment-leads-method
  font-size 14px
  margin 23px 0px
  padding 0px 17px
  text-align center
  width 199px

.gray-separator
  border solid 1px #dedede
  width 85%
  margin 36px 0px 50px 0px

@media screen and (max-width: 975px)
  .margin-bottom-40px-mobile
    margin-bottom 40px
    
  .margin-vertical-35px-0px-mobile
    margin-bottom 0px
    margin-top 35px

  .payment-leads-quantity,
    .payment-leads-select
      font-size 18px

  .payment-leads-total
    font-size 15px

  .payment-leads-select
    margin-left 20px
    margin-right 20px
    text-align center
    
  .margin-bottom-10px
    margin-bottom 10px
    
  .margin-bottom-40px-mobile
    margin-bottom 40px

  .payment-leads-card
    width auto
    height auto
    margin 0px 0px
    padding 16px 13px

  .payment-leads-card-img
    max-width 100%

  .payment-leads-method
    margin 0px
    text-align left

  .separator
    margin 35px 0px
    
  .gray-separator
    margin 5px 0px 15px 0px