@import '../../assets/styles/vars'
@import '../../assets/styles/mixins'

.homepage-hero
  background $blackColor
  display flex
  flex-wrap wrap
  height 486px
  justify-content space-between
  text-align center
  color white

.homepage-hero__left,
.homepage-hero__right
  flex-basis 234px

.homepage-hero__small-item
  height 234px

  &:not(:first-child)
    margin-top 16px

a.homepage-hero__small-item
  display block
  color white

  > div
    height 100%
    width 100%

.homepage-hero__left .homepage-hero__small-item
  &:first-child
    background-image url('../img/backgrounds/home-hero-1.jpg')

  &:last-child
    background-image url('../img/backgrounds/home-hero-4.jpg')

.homepage-hero__right .homepage-hero__small-item
  &:first-child
    background-image url('../img/backgrounds/home-hero-2.jpg')

  &:last-child
    background-image url('../img/backgrounds/home-hero-5.jpg')

.homepage-hero__middle
  background-image url('../img/backgrounds/home-hero-3.jpg')
  display flex
  align-items flex-end
  justify-content center
  padding-bottom remify(44)
  flex-basis calc(100% - 518px)

  .site-button
    rfont-size 13px 767px 11px
    letter-spacing 0.5px
    padding 1.1em 3.8em 0.9em 3.8em
    margin-top remify(39)

.homepage-hero__logo
  width 119px

.homepage-hero__city-span-1,
.homepage-hero__city-span-2,
.homepage-hero__city-span-3,
.homepage-hero__middle-text-1,
.homepage-hero__middle-text-2,
.homepage-hero__visit,
.homepage-hero__visit-tattoos,
.homepage-hero__visit-flashes,
.homepage-hero__discover-span-1,
.homepage-hero__discover-span-2
  line-height 0.9
  display block

.homepage-hero__city-span-3,
.homepage-hero__discover-span-2
  font-family 'Master of break'

.homepage-hero__city-span-1,
.homepage-hero__city-span-2,
.homepage-hero__middle-text-1,
.homepage-hero__middle-text-2,
.homepage-hero__visit,
.homepage-hero__visit-tattoos,
.homepage-hero__visit-flashes,
.homepage-hero__discover-span-1
  font-family 'BebasNeue'
  font-weight $bold

.homepage-hero__city-span-3,
.homepage-hero__discover-span-2
  &::first-letter
    text-transform uppercase

.homepage-hero__left
  .site-button
    font-size 10px
    letter-spacing 0.4px
    padding 0.9em 1.8em
    margin-top remify(48.7)

.homepage-hero__city-span-1
  rfont-size 45px 767px 42px

.homepage-hero__city-span-2
  rfont-size 62.5px 767px 58.5px

.homepage-hero__city-span-3
  rfont-size 33px 767px 31.5px
  line-height 1.16
  margin-top remify(6)

.homepage-hero__middle-text-1
  rfont-size 82px 767px 60px
  margin-top remify(50)

.homepage-hero__middle-text-2
  rfont-size 46.5px 767px 33.5px
  line-height 1

.homepage-hero__visit
  rfont-size 63px 767px 58px

.homepage-hero__visit-tattoos
  rfont-size 50px 767px 46px

.homepage-hero__visit-flashes
  rfont-size 55px 767px 49px

.homepage-hero__discover-span-1
  font-size 45px
  line-height 1.2

.homepage-hero__discover-span-2
  font-size 25px
  margin-top remify(6)

.homepage-subtitle
  width 90%
  margin 0
  center-block()
  text-align center
  font-size 22px
  letter-spacing unit(-0.3/22, 'em')
  color #1d1d1d
  font-weight $regular

.homepage-trending
  padding-top remify(70)

.homepage-trending__form
  margin-top 17px
  width 90%
  center-block()
  max-width 563px

.homepage-trending__form-content
  display flex
  width 100%

  .input-wrapper
    flex-basis 428px

.homepage-trending__input
  width 100%
  simple-border('all', 1px, #e6e6e6)
  border-radius 4px 0 0 4px
  rfont-size 17px 767px 14.5px
  padding 1em 2em
  color #898989

.homepage-trending__button
  rfont-size 15px 767px 13px
  padding 1.25em 2.7em
  border-radius 0 2px 2px 0

.homepage-trending__items
  margin-top 81px
  display flex
  flex-wrap wrap
  justify-content space-between
  width 100%
  max-width 727px
  center-block()

.homepage-trending__item
  flex-basis 235px
  height 235px
  color white
  margin-top 12px
  font-family 'BebasNeue'
  font-weight $bold
  rfont-size remify(30) 479px 13px
  letter-spacing unit(0.3/30, 'em')
  line-height 1.23

.homepage-trengind__item-layer
  height 100%
  background rgba(black, 0.4)

.homepage-featured
  margin-top 109px
  text-align center

  .homepage-subtitle
    rfont-size 22px 767px 19px

.homepage-featured__buttons
  width 489px
  margin-top 49px
  center-block()
  display flex
  justify-content space-between
  flex-wrap wrap

.homepage-featured__button
  flex-basis 111px
  font-size 11px
  padding 1em 0.85em
  margin-top 14px

  &:first-child,
  &:last-child
    background #7e888e

    &:hover, &:active, &:focus, &.active
      background lightness(#7e888e, 40%)

  &:nth-child(2)
    background #bec3c6

    &:hover, &:active, &:focus, &.active
      background lightness(#bec3c6, 60%)

.homepage-featured__items
  margin-top remify(59)
  display flex
  flex-wrap wrap
  justify-content space-between
  center-block()
  width 1024px

.homepage-featured__item-wrapper
  flex-basis 249px
  height 249px
  margin-top 9px
  position relative
  perspective 800
  transform-style preserve-3d

.homepage-featured__item
  position absolute
  width 100%
  height 100%

  &:hover, &.hover
    .homepage-featured__item-back
      transform rotateY(0deg)

    .homepage-featured__item-front
      transform rotateY(180deg)

.homepage-featured__item-back,
.homepage-featured__item-front
  position absolute
  height 100%
  width 100%
  backface-visibility hidden
  transition all 0.6s
  transform-style preserve-3d
  top 0
  left 0

.homepage-featured__item-front
  display block
  z-index 2
  transform rotateY(0deg)

.homepage-featured__item-back
  background $blackColor
  color white
  z-index 2
  transform rotateY(-180deg)
  padding 50px 24px
  text-align left

.homepage-featured__item-title
  rfont-size 16px 767px 15px
  color inherit
  cursor pointer

.homepage-featured__item-stars
  color #f7c42a
  font-size 9px
  margin-top 5.5px

  .fa
    display inline-block

  .fa:not(:first-child)
    margin-left 1px

.homepage-featured__item-location,
.homepage-featured__item-tags
  font-family 'SFNSText'

.homepage-featured__item-location
  display block
  margin-top 8px
  font-size 9px

.homepage-featured__item-tags
  margin-top 5px
  margin-left -1px

.homepage-featured__item-tag
  background #e5e5e5
  color #4a4a4a
  cursor pointer
  border-radius 100px
  display inline-block
  font-size 7px
  margin-top 8px
  padding 0.73em 1.5em
  line-height 1
  margin-left 1px

.homepage-featured__main-button
  margin-top 88px
  rfont-size 13px 767px 10px
  padding 1.15em 1.7em 1em 1.7em
  letter-spacing unit(0.5/13, 'em')

.homepage-want-to
  margin-top 161px
  position relative

.homepage-want-to__inner
  center-block()
  padding-right 110px
  width 407px

.homepage-want-to__buttons
  display flex

  .site-button
    color #9b9b9b
    background white
    position relative
    font-size 15px
    padding 0.6em 2.3em
    font-family 'BebasNeue'
    simple-border('all', 1px, #e5e5e5)

    &:first-child
      border-radius 2px 0 0 2px

    &:last-child
      border-radius 0 2px 2px 0

    &:hover, &:active, &:focus, &.active
      background $dustColor
      simple-border('all', 1px, $dustColor)
      color white

      &::before
        content ' '
        background white
        width 8.5px
        height 8.5px
        transform rotate(45deg) translate(-50%, -50%)
        position absolute
        top 0
        left 50%

.homepage-want-to__div
  margin-top remify(64)

  .site-button
    margin-top 64px
    background #7e888e
    rfont-size 11px 767px 12px
    padding 1em 1.7em

    &:hover, &:active, &:focus
      background lightness(#7e888e, 44%)

#homepage-want-to-tattooist
  display none

.homepage-want-to__title
  rfont-size 45px 767px 44px
  color black
  font-family 'BebasNeue'
  margin 0
  width remify(168)
  letter-spacing unit(0.1/45, 'em')
  line-height 0.96

.homepage-want-to__text
  font-size 15px
  line-height 1.4
  margin-top 19px
  margin-bottom 0

.homepage-want-to__img
  position absolute
  right 0
  top 50%
  transform translateY(-50%)
  height remify(260)
  z-index -1

.homepage-bottom-cover
  background-image url('../img/backgrounds/home-bottom.jpg')
  margin-top remify(112)
  height 21.87vw
  min-height 150px
  max-height 320px

.homepage-bottom-cover__text
  color white
  font-family 'Master of break'
  rfont-size remify(40) 740px 22px
  line-height 1.35
  display block
  width 90%
  center-block()
  text-align center

.home-bottom-search
  display none

@media screen and (max-width: 1023px)
  .homepage-hero
    height auto

  .homepage-hero__middle
    padding-top remify(44)
    order -1

  .homepage-hero__left,
  .homepage-hero__middle,
  .homepage-hero__right
    flex-basis 100%

  .homepage-hero__left,
  .homepage-hero__right
    display flex
    flex-wrap wrap

  .homepage-hero__small-item
    flex-basis 50%

    &:not(:first-child)
      margin-top 0

  .homepage-featured__item-wrapper:nth-child(n+5)
    display none

@media screen and (max-width: 1007px)
  .homepage-featured__items
    width 508px

  .homepage-want-to__inner
    padding-right 233px
    width 530px

@media screen and (max-width: 767px)
  .homepage-hero__logo
    width 96px

  .homepage-hero__middle
    background-image url('../img/backgrounds/home-hero-3-responsive.jpg')

  .homepage-hero__middle-text-1
    margin-top 23px

  .homepage-hero__middle .site-button
    margin-top 17px

  .homepage-hero__left .site-button
    margin-top 11px

  .homepage-hero__discount-text
    line-height 0.9

  .homepage-trending__form
    margin-top 24px

  .homepage-trending__input
    padding 1.15em

    &::placeholder
      opacity 0

  .homepage-trending__button
    padding 1.425em 1.3em

  .homepage-trending__items
    margin-top 46.7px
    max-width initial

  .homepage-trending__item
    margin-top 0
    flex-basis 33.3333333333%
    height 33.333333333333vw

  .homepage-featured
    margin-top 59px

  .homepage-featured__buttons
    margin-top 33px

  .homepage-featured__main-button
    margin-top 46px
    padding 15px 12.7px 13.2px 12.7px

  .homepage-want-to
    margin-top 108px

  .homepage-want-to__inner
    width 293px
    padding-right 0

  .homepage-want-to__img
    height 128px
    right -45px

  .home-bottom-search
    display block
    margin-top 75px
    center-block()
    display flex
    width 90%
    max-width 450px

  .home-bottom-search__input
    flex-basis calc(100% - 91.2px)
    max-width calc(100% - 91.2px)
    border-radius 4px 0 0 4px
    simple-border('all', 1px, #e6e6e6)
    padding 1em 1.4em
    font-size 14.5px
    color  #898989
    font-family 'Lato'

  .home-bottom-search__button
    height 51.3px
    line-height 1
    flex-basis 91.2px
    border-radius 0 4px 4px 0
    font-size 13px
    letter-spacing 0.2px

  .homepage-bottom-cover
    margin-top 67.7px

@media screen and (max-width: 590px)
  .homepage-want-to__img
    top initial
    transform none
    bottom 0

@media screen and (max-width: 530px)
  .homepage-featured__buttons
    width 240px

  .homepage-featured__button
    &:nth-child(3),
    &:nth-child(4)
      order -2

  .homepage-featured__items
    margin-top 47.7px
    width 320px

  .homepage-featured__item-wrapper
    flex-basis 158px
    height 158px
    margin-top 4.3px

  .homepage-featured__item-back
    padding 30px 16px

  .homepage-featured__item-tags
    margin-top 0

@media screen and (max-width: 479px)
  .homepage-hero__small-item:last-child,
  .homepage-hero__right
    order -1

  .homepage-hero__small-item
    flex-basis 100%
    height 176px

  .homepage-bottom-cover
    background-image url('../img/backgrounds/home-bottom-responsive.png')
    height 224px

  .homepage-bottom-cover__text
    width 251px

  .homepage-hero__left .homepage-hero__small-item
    &:first-child
      background-image url('../img/backgrounds/home-hero-1-responsive.jpg')

    &:last-child
      background-image url('../img/backgrounds/home-hero-4-responsive.jpg')

  .homepage-hero__right .homepage-hero__small-item
    &:first-child
      background-image url('../img/backgrounds/home-hero-2-responsive.jpg')

    &:last-child
      background-image url('../img/backgrounds/home-hero-5-responsive.jpg')

@media screen and (max-width: 430px)
  .homepage-want-to__img
    bottom -47px